header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 14px;
  padding-bottom: 14px;
  position: fixed;
  z-index: 1;
  background-color: white;
}

nav {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > a {
  font-size: var(--font--size--large);
  color: var(--blue600);
}

.homemenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: var(--font--size--medium);
  color: var(--blue600);
}

.bar {
  display: none;
  font-size: 20px;
  color: var(--blue600);
}

/* 1024 이하면 이거 적용 */
@media screen and (max-width: 1024px) {
  body {
    /* max-width 수정 */
    nav {
      max-width: 628px;
    }
  }
}
/* 모바일 버전 */
@media screen and (max-width: 768px) {
  body {
    /* max-width 수정 */
    nav {
      max-width: 400px;
    }

    .bar {
      display: block;
    }

    .homemenu {
      display: none;
    }
  }
}
