:root {
  --white: #fff;
  --black: #000;
  --blue500: royalblue;
  --blue600: #3f51b5;

  /* font */
  --font--size--mega: 42px;
  --font--size--large: 26px;
  --font--size--medium: 16px;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* body의 모든 글씨를 Pretendard-Regular 로 설정 */
body {
  font-family: "Pretendard-Regular";

  /* 글의 줄바꿈CSS: keep-all(줄바꿈 하지마라) */
  word-break: keep-all;
  /* 글 사이의 간격 */
  letter-spacing: -0.3px;
}
