.work {
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 30px;
}

.work--text {
  width: 100%;
  max-width: 1024px;
  color: var(--blue600);
  font-size: var(--font--size--mega);
  display: flex;
  align-items: center;
}

.work--images {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-position: center;
  background-size: cover;
}

.work--images > div:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  background-image: url(../1.jpg);
}
.work--images > div:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
  background-image: url(../2.jpg);
}
.work--images > div:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
  background-image: url(../3.jpg);
}
.work--images > div:nth-child(4) {
  grid-area: 1 / 4 / 2 / 5;
  background-image: url(../1.jpg);
}
.work--images > div:nth-child(5) {
  grid-area: 2 / 1 / 3 / 2;
  background-image: url(../2.jpg);
}
.work--images > div:nth-child(6) {
  grid-area: 2 / 2 / 3 / 3;
  background-image: url(../3.jpg);
}
.work--images > div:nth-child(7) {
  grid-area: 2 / 3 / 3 / 4;
  background-image: url(../1.jpg);
}
.work--images > div:nth-child(8) {
  grid-area: 2 / 4 / 3 / 5;
  background-image: url(../2.jpg);
}

/* 1024 이하면 이거 적용 */
@media screen and (max-width: 1024px) {
  body {
    /* max-width 수정 */
    .work--text {
      max-width: 628px;
      justify-content: center;
    }
  }
}
/* 모바일 버전 */
@media screen and (max-width: 768px) {
  body {
    /* max-width 수정 */
    .work--text {
      max-width: 400px;
    }
  }
}
